<head>
  <!-- Stylesheet and favicon -->
  <link rel="stylesheet" href="{{ site.url }}{{ site.css }}" />
  <link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.favicon }}" />

  <!-- Title -->
  <title>
    {% if page.title %}
      {{page.title}}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- Base meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="{{ site.color }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Facebook meta -->
  <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="og:url" content="{{ site.url }}{{ page.url }}">
  <meta name="og:image" content="{{ site.url }}{{ site.og_image }}">
  <meta name="og:site_name" content="{{ site.title }}">

  <!-- Twitter meta -->
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ site.og_image }}">
  <meta name="twitter:widgets:theme" content="light">
  <meta name="twitter:widgets:link-color" content="{{ site.color }}">
  <meta name="twitter:widgets:border-color" content="{{ site.color }}">
</head>
