<header>
  <nav>
    <a href="{{ '/' | relative_url }} " title="{{ site.data.site.title }}" class="blog-icon">
      <img src="{{ '/assets/img/icon.png' | relative_url }}" alt="Logo of {{ site.data.site.title }}">
    </a>
    <ul>
      {% for link in site.data.navigation %}
        <li class="item">
          <a
            href="{{ link.url | relative_url }}"
            title="{{ link.title }}"
            target="{% if link.external %}_blank{% endif %}"
          >
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
