// COLORS
$color-grey: #333;
$color-grey-30: lighten($color-grey, 30%);
$color-grey-50: lighten($color-grey, 50%);
$color-grey-70: lighten($color-grey, 70%);
$color-white: #fdfdfd;

// FONTS
$font-serif: 'Times New Roman', serif;
$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
